page-home{
    
    
    
    ion-header
    {
        background-color: color($colors, header);
    
    }
  
    ion-item
    {
        border-radius: 30%;
        

    }

    .master{
        background-image: url('http://www.pswalloniepicarde.be/wp-content/uploads/2013/06/fond-rouge-1.jpg');
      }
      
      
    

    h1{

    text-align: center;
    font-size-adjust: inherit;
    color : black;


    }

    button{

            align-content: center;
    }
   

}
