page-home{
    
    
    
    ion-header
    {
        background-color: color($colors, header);
    
    }
  
    ion-item
    {
        border-radius: 15x;
        

    }

    .master{
        background-color: color($colors, fond);
          }
      
      
    

    h1{

    text-align: center;
    font-size-adjust: inherit;
    color : black;


    }

    button{

            align-content: center;
    }
   

}
