page-ajout {
    h1{
        text-align: center;
        color: olive;

    }
    ion-button{

     margin-left : 40%;
    
    }
    ion-header
    {
        background-color: color($colors, header);
    
    }
    .master{
        background-color:  color($colors, fond);
      }
      
      
}
